/* specifics */
body
{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
}
ul, li
{
 display: block;
 margin: 0px;
 padding: 0px;
}
a
{
	text-decoration: none;
}

h1
{
	text-align: center;
	color:#fff;
	font-weight: 600;
}

h2
{
	text-align: center;
	color:#fff;
}
p
{
	font-size: 20px;
	color:#8c8c8c;
	text-align: center;
}

/* first screen */

.header
{
	background: #ffffff;
}

.logo
{

}

.logo__img
{
	margin-top: 23px; 
}
.logo__text
{
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin-top: 35px;
	margin-left: 10px;  
	color:#6d6e70;
}

.menu
{

}

.menu__item
{
	margin-right:28px; 
	padding-top: 39px;
}

.menu__item a
{
	font-size:13px;
	font-weight: 600;
	color: #a2a2a2;
	text-decoration:none;
}

.header__button
{
  margin-top:39px;
}
.header__button a
{
	font-size:13px;
	font-weight: 600;
	padding:7px 30px 7px 30px;
	background-color:#bcda5c;
	color:#fff;
	text-decoration:none;
	border-radius: 30px;
}

.content_side_bar
{
	background-image: url(../img/side_bar.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content_side_bar__titles
{
	margin-top: 180px; 
}

.content_side_bar__button
{
	margin-left:75px;
	margin-top:60px;
	padding-bottom: 200px; 
}

.content_side_bar__button a
{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:20px 50px 20px 50px;
	background-color: #99c50a;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
}
.content_side_bar__arrows
{
	font-size: 30px;
	margin-right: 20px;
	color: #fff;
	float: right;
	padding-bottom: 65px; 
}

.content_side_bar__arrows li
{
	margin-right: 20px;
}

/* second screen*/

.content_description
{

}

.content_description__ico_arrow
{
	text-align: center;
	padding-top: 100px; 
	padding-bottom: 50px;
}
.content_description__title h2
{
	color: #515151;
	padding-bottom: 70px; 
}

.content_description__text
{
	width: 920px;
	margin: 0 auto;
	padding-top: 50px;
}

/* third screen */

.content_our_advantages
{

}

.content_our_advantages_tab
{
	padding-top: 180px;
}

.content_our_advantages_tab_items
{
	padding-bottom: 45px;
	border-bottom: 1px solid #e6e6e6;
}

.content_our_advantages_tab_items h2
{
	color: #656565;
	margin-right: 100px; 
	display:inline-block;
}

.content_our_advantages_tab
{

}

.items_circle
{
	float: left;
	background-color: #5f5f5f;
	color: #fff;
	padding: 6px 13px 6px 13px;
	border-radius: 30px;
	margin-right: 50px;
}

.tab_content
{

}

.tab_content__img
{
	margin-left: 140px;
	margin-top: 80px;
	padding-right: 90px;
}

.tab_content__text h3
{
	color: #add136;
	margin-top: 50px;
	text-align: left;
	padding-bottom: 40px;
}

.tab_content__text p
{
	text-align: left;
}

.content_sing_up
{
	margin-top: 100px;
	background: linear-gradient(to right, #e2f8ff, #f5f9eb);
	background-repeat: no-repeat;
	background-size: 100%;
}

.bg_left
{
	background-color: #e2f8ff; 
}

.content_sign_up__left__img
{
	padding-top: 80px;
	padding-right: 60px;
}
.content_sign_up__left__text
{
	padding-top: 45px;
}

.content_sign_up__left__text p
{
	padding-top: 30px;
	text-align: left;
}

.content_sign_up__left__text__button
{
	padding-top: 30px;
	padding-bottom: 50px;
}

.content_sign_up__left__text a
{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:15px 20px 15px 20px;
	background-color: #26a6d1;
	color: #fff;
	text-decoration: none;
	border-radius: 7px;
}

.bg_right
{
	background-color: #f5f9eb; 
}

.content_sign_up__right
{
	background-color: #f5f9eb; 
}

.content_sign_up__right__img
{
	padding-top: 80px;
	padding-right: 60px;
	padding-left: 70px;
}
.content_sign_up__right__text
{
	padding-top: 45px;
}

.content_sign_up__right__text p
{
	padding-top: 30px;
	text-align: left;
}

.content_sign_up__right__text__button
{
	padding-top: 30px;
	padding-bottom: 50px;
}

.content_sign_up__right__text a
{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:15px 20px 15px 20px;
	background-color: #add136;
	color: #fff;
	text-decoration: none;
	border-radius: 7px;
}

.content_featured_projects
{

}

.content_featured_projects__title 
{
	padding-top: 85px;
}

.content_featured_projects__title h2
{
	color:#515151;
	text-align: left;
}

.content_featured_projects__text 
{
	padding-top: 15px;
	padding-bottom: 70px;
}

.content_featured_projects__text p
{
	text-align: left;
}



.content_featured_projects__button
{
	padding-top: 110px;
}

.content_featured_projects__button a
{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:15px 20px 15px 20px;
	background-color: #fff;
	color: #bdbdbd;
	text-decoration: none;
	border-radius: 7px;
	border:1px solid #bdbdbd;
}

.content_galary
{

}

.content_galary__triangle-topleft 
{
	width: 0px;
	height: 0px;
	border-top-left-radius: 10px;
	border: 40px solid transparent;
	border-left: 40px solid #add136;
	border-top: 40px solid #add136;
	z-index: 2;
}

.content_galary__triangle-topleft__new
{
	font-size: 15px;
	font-weight: 600;
	transform: rotate(-45deg);
	position: absolute;
	top:15px;
	left:20px;
	color:#fff;
}
.content_galary__img
{
	width:300px;
	height: 225px;
	position: absolute;
	left: 15px;
	top: 0px;
	z-index: -1;
	background-image: url(../img/content_new_image_1.png);
}

.content_galary__img__button
{
	margin-top: 180px;
	margin-left: 150px;
}

.content_galary__img__button a
{	
	margin-top: 200px;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:7px 15px 7px 15px;
	background-color: #26a6d1;
	color: #fff;
	text-decoration: none;
	border-radius: 7px;
}