/* specifics */
body
{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
}
ul, li
{
 display: block;
 margin: 0px;
 padding: 0px;
}
a
{
	text-decoration: none;
}

h1
{
	text-align: center;
	color:#fff;
	font-weight: 600;
}

h2
{
	text-align: center;
	color:#fff;
}
p
{
	font-size: 20px;
	color:#8c8c8c;
	text-align: center;
}

/* first screen */

.header
{
	background: #ffffff;
}

.logo
{

}

.logo__img
{
	margin-top: 23px; 
}
.logo__text
{
	font-family: 'Nunito', sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin-top: 35px;
	margin-left: 10px;  
	color:#6d6e70;
}

.menu
{

}

.menu__item
{
	margin-right:28px; 
	padding-top: 39px;
}

.menu__item a
{
	font-size:13px;
	font-weight: 600;
	color: #a2a2a2;
	text-decoration:none;
}

.header__button
{
  margin-top:39px;
}
.header__button a
{
	font-size:13px;
	font-weight: 600;
	padding:7px 30px 7px 30px;
	background-color:#bcda5c;
	color:#fff;
	text-decoration:none;
	border-radius: 30px;
}

.content_side_bar
{
	background-image: url(../img/side_bar.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.content_side_bar__titles
{
	margin-top: 180px; 
}

.content_side_bar__button
{
	margin-left:75px;
	margin-top:60px;
	padding-bottom: 200px; 
}

.content_side_bar__button a
{
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding:20px 50px 20px 50px;
	background-color: #99c50a;
	color: #fff;
	text-decoration: none;
	border-radius: 10px;
}
.content_side_bar__arrows
{
	font-size: 30px;
	margin-right: 20px;
	color: #fff;
	float: right;
	padding-bottom: 65px; 
}

.content_side_bar__arrows li
{
	margin-right: 20px;
}

/* second screen*/

.content_description
{

}

.content_description__ico_arrow
{
	text-align: center;
	padding-top: 100px; 
	padding-bottom: 50px;
}
.content_description__title h2
{
	color: #515151;
	padding-bottom: 70px; 
}

.content_description__text
{
	width: 920px;
	margin: 0 auto;
	padding-top: 50px;
}